<a href="https://colab.research.google.com/github/Adelson021/Proj01/blob/main/Mod07_Tarefa_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
# Carregar a base de dados
df = pd.read_csv('demo01.csv', sep=',')

In [ ]:
colunas = df.columns
colunas

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')

In [ ]:
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [ ]:
# Verificar tipos de dados das variáveis
df.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [ ]:
# Verificar quantidade de missings por coluna
missing_counts = df.isnull().sum()
missing_counts

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [ ]:
# Verificar a distribuição da variável resposta (mau)
df['mau'].value_counts()

mau
False    16260
True       390
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [ ]:
                                #deve estar errado
# Passo 1: Inicialize as listas vazias
variaveis = []
tipos_dados = []
qtd_categorias = []

# Passo 2: Itere sobre as colunas do DataFrame original
for coluna in df.columns:
    variaveis.append(coluna)  # Nome da variável
    tipos_dados.append(df[coluna].dtype)  # Tipo de dados da coluna

    # Contar o número de categorias
    qtd_categorias.append(df[coluna].nunique())  # Contar número de valores únicos na coluna

# Passo 3: Criar DataFrame de metadados
metadata = pd.DataFrame({
    "variavel": variaveis,
    "tipo_dados": tipos_dados,
    "qtd_categorias": qtd_categorias
})

# Exibir o metadados
print(metadata)

                 variavel tipo_dados  qtd_categorias
0                    sexo     object               2
1        posse_de_veiculo     object               2
2         posse_de_imovel     object               2
3              qtd_filhos      int64               8
4              tipo_renda     object               5
5                educacao     object               5
6            estado_civil     object               5
7         tipo_residencia     object               6
8                   idade    float64            5298
9           tempo_emprego    float64            3005
10         possui_celular      int64               1
11  possui_fone_comercial      int64               2
12            possui_fone      int64               2
13           possui_email      int64               2
14  qt_pessoas_residencia    float64               9
15                    mau       bool               2

In [ ]:
# Criar um DataFrame para armazenar os metadados
metadados = pd.DataFrame({
    'nome_variavel': df.columns,
    'tipo_dados': df.dtypes
})

# Inicializar uma lista vazia para armazenar a quantidade de categorias
qtd_categorias = []

# Loop ao longo dos nomes das variáveis para contar o número de categorias
for col in df.columns:
    qtd_categorias.append(df[col].nunique())

# Adicionar a lista qtd_categorias ao DataFrame de metadados
metadados['qtd_categorias'] = qtd_categorias

# Exibir o DataFrame de metadados
print(metadados)

                               nome_variavel tipo_dados  qtd_categorias
sexo                                    sexo     object               2
posse_de_veiculo            posse_de_veiculo     object               2
posse_de_imovel              posse_de_imovel     object               2
qtd_filhos                        qtd_filhos      int64               8
tipo_renda                        tipo_renda     object               5
educacao                            educacao     object               5
estado_civil                    estado_civil     object               5
tipo_residencia              tipo_residencia     object               6
idade                                  idade    float64            5298
tempo_emprego                  tempo_emprego    float64            3005
possui_celular                possui_celular      int64               1
possui_fone_comercial  possui_fone_comercial      int64               2
possui_fone                      possui_fone      int64               2
possui_email                    possui_email      int64               2
qt_pessoas_residencia  qt_pessoas_residencia    float64               9
mau                                      mau       bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [ ]:
#Seleção de variáveis qualitativas
qualitativas = df.select_dtypes(include=["object", "category"]).columns
qualitativas

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'tipo_renda', 'educacao',
       'estado_civil', 'tipo_residencia'],
      dtype='object')

In [ ]:
#Criação de variáveis dummy
df_dummies = pd.get_dummies(df, columns=qualitativas, drop_first=True)
df_dummies

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_M,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,True,...,True,True,False,False,False,True,False,False,False,False
1,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
2,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
3,0,46.224658,2.106849,1,1,1,1,2.0,False,True,...,False,True,False,False,False,True,False,False,False,False
4,0,29.230137,3.021918,1,0,0,0,2.0,False,False,...,False,True,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,0,54.109589,9.884932,1,0,0,0,2.0,True,False,...,True,False,False,False,False,True,False,False,False,False
16646,0,43.389041,7.380822,1,1,1,0,2.0,True,False,...,True,True,False,False,False,True,False,False,False,False
16647,0,30.005479,9.800000,1,1,0,0,2.0,True,True,...,True,True,False,False,False,True,False,False,False,False
16648,0,30.005479,9.800000,1,1,0,0,2.0,True,True,...,True,True,False,False,False,True,False,False,False,False
16649,0,33.936986,3.630137,1,0,1,1,2.0,True,False,...,False,True,False,False,False,True,False,False,False,False

In [ ]:
#Filtragem para manter apenas variáveis metálicas e booleanas
variaveis_numericas = df_dummies.select_dtypes(include=["number", "bool"])
variaveis_numericas

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_M,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,True,...,True,True,False,False,False,True,False,False,False,False
1,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
2,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
3,0,46.224658,2.106849,1,1,1,1,2.0,False,True,...,False,True,False,False,False,True,False,False,False,False
4,0,29.230137,3.021918,1,0,0,0,2.0,False,False,...,False,True,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,0,54.109589,9.884932,1,0,0,0,2.0,True,False,...,True,False,False,False,False,True,False,False,False,False
16646,0,43.389041,7.380822,1,1,1,0,2.0,True,False,...,True,True,False,False,False,True,False,False,False,False
16647,0,30.005479,9.800000,1,1,0,0,2.0,True,True,...,True,True,False,False,False,True,False,False,False,False
16648,0,30.005479,9.800000,1,1,0,0,2.0,True,True,...,True,True,False,False,False,True,False,False,False,False
16649,0,33.936986,3.630137,1,0,1,1,2.0,True,False,...,False,True,False,False,False,True,False,False,False,False

In [ ]:
print("Primeiras linhas do dataframe com variáveis dummy:")
print(df_dummies.head())

print("\nPrimeiras linhas do dataframe final adequado para scikit-learn:")
print(variaveis_numericas.head())

Primeiras linhas do dataframe com variáveis dummy:
   qtd_filhos      idade  tempo_emprego  possui_celular  \
0           0  58.832877       3.106849               1
1           0  52.356164       8.358904               1
2           0  52.356164       8.358904               1
3           0  46.224658       2.106849               1
4           0  29.230137       3.021918               1

   possui_fone_comercial  possui_fone  possui_email  qt_pessoas_residencia  \
0                      0            0             0                    2.0
1                      0            1             1                    1.0
2                      0            1             1                    1.0
3                      1            1             1                    2.0
4                      0            0             0                    2.0

     mau  sexo_M  ...  educacao_Secondary / secondary special  \
0  False    True  ...                                    True
1  False   False  ...                                    True
2  False   False  ...                                    True
3  False    True  ...                                   False
4  False   False  ...                                   False

   estado_civil_Married  estado_civil_Separated  \
0                  True                   False
1                 False                   False
2                 False                   False
3                  True                   False
4                  True                   False

   estado_civil_Single / not married  estado_civil_Widow  \
0                              False               False
1                               True               False
2                               True               False
3                              False               False
4                              False               False

   tipo_residencia_House / apartment  tipo_residencia_Municipal apartment  \
0                               True                                False
1                               True                                False
2                               True                                False
3                               True                                False
4                               True                                False

   tipo_residencia_Office apartment  tipo_residencia_Rented apartment  \
0                             False                             False
1                             False                             False
2                             False                             False
3                             False                             False
4                             False                             False

   tipo_residencia_With parents
0                         False
1                         False
2                         False
3                         False
4                         False

[5 rows x 29 columns]

Primeiras linhas do dataframe final adequado para scikit-learn:
   qtd_filhos      idade  tempo_emprego  possui_celular  \
0           0  58.832877       3.106849               1
1           0  52.356164       8.358904               1
2           0  52.356164       8.358904               1
3           0  46.224658       2.106849               1
4           0  29.230137       3.021918               1

   possui_fone_comercial  possui_fone  possui_email  qt_pessoas_residencia  \
0                      0            0             0                    2.0
1                      0            1             1                    1.0
2                      0            1             1                    1.0
3                      1            1             1                    2.0
4                      0            0             0                    2.0

     mau  sexo_M  ...  educacao_Secondary / secondary special  \
0  False    True  ...                                    True
1  False   False  ...                                    True
2  False   False  ...                                    True
3  False    True  ...                                   False
4  False   False  ...                                   False

   estado_civil_Married  estado_civil_Separated  \
0                  True                   False
1                 False                   False
2                 False                   False
3                  True                   False
4                  True                   False

   estado_civil_Single / not married  estado_civil_Widow  \
0                              False               False
1                               True               False
2                               True               False
3                              False               False
4                              False               False

   tipo_residencia_House / apartment  tipo_residencia_Municipal apartment  \
0                               True                                False
1                               True                                False
2                               True                                False
3                               True                                False
4                               True                                False

   tipo_residencia_Office apartment  tipo_residencia_Rented apartment  \
0                             False                             False
1                             False                             False
2                             False                             False
3                             False                             False
4                             False                             False

   tipo_residencia_With parents
0                         False
1                         False
2                         False
3                         False
4                         False

[5 rows x 29 columns]

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [ ]:
cross_tab_email = pd.crosstab(df["possui_email"], df["mau"], normalize="index").reindex(columns=[0, 1], fill_value=0)
cross_tab_veiculo = pd.crosstab(df["posse_de_veiculo"], df["mau"], normalize="index").reindex(columns=[0, 1], fill_value=0)

print("Tabela cruzada entre possui_email e mau:")
print(cross_tab_email)
print("\nTabela cruzada entre posse_de_veiculo e mau:")
print(cross_tab_veiculo)

Tabela cruzada entre possui_email e mau:
mau                  0         1
possui_email
0             0.976269  0.023731
1             0.979730  0.020270

Tabela cruzada entre posse_de_veiculo e mau:
mau                      0         1
posse_de_veiculo
N                 0.975732  0.024268
Y                 0.977905  0.022095

In [ ]:
diff_email = cross_tab_email[1].max() - cross_tab_email[1].min()
diff_veiculo = cross_tab_veiculo[1].max() - cross_tab_veiculo[1].min()
print("\nDiferença na proporção de 'mau' = 1 para possui_email:", diff_email)
print("Diferença na proporção de 'mau' = 1 para posse_de_veiculo:", diff_veiculo)

Diferença na proporção de 'mau' = 1 para possui_email: 0.0034607778510217513
Diferença na proporção de 'mau' = 1 para posse_de_veiculo: 0.0021728498487126914

In [ ]:
# Determinar qual variável é mais poderosa
if diff_email > diff_veiculo:
    print("\nA variável 'possui_email' é mais poderosa para prever a probabilidade de 'mau' = 1.")
else:
    print("\nA variável 'posse_de_veiculo' é mais poderosa para prever a probabilidade de 'mau' = 1.")

A variável 'possui_email' é mais poderosa para prever a probabilidade de 'mau' = 1.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [ ]:
variaveis_numericas.to_csv('base_transformada.csv', index=False)